{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
<div class="container my-5 d-flex">
    <div class="row ">
        
            {% for prod in product %}
            
            
            <div class="card " style="width: 18rem; border:none;">
                <a style="text-decoration:none; " href="{% url 'product-detail' prod.id %}">
                <img src="{{prod.product_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center text-black">{{prod.title}}</h5>
                  <div class="d-flex justify-content-center alighn-items-center">
                  <p class="fw-bold text-danger">Rs.{{prod.discounted_price}}/-</p><p class="fw-light text-decoration-line-through text-black">{{prod.selling_price}}</p>
                  </div>
                </div>
            </a>
              </div>
            
              {% endfor %}
    </div>


</div>

 {% endblock main-content %}